#navbar{
display: flex;
justify-content: space-evenly;
}
#text{
text-align: center;

}
span{
    color: coral;
}
.b1{
background-color: rgb(36, 36, 243);
border-radius: 10%;
}
#container1{
display: flex;
justify-content: space-evenly;
}
.img1{
width: 800px;
border-radius: 30%;
}