#page1{
    display: flex;
    gap:10%;
    padding-left: 10%;
    font-size: large;
}
.page2{
    display: flex;
    gap: 10%;
    padding-left: 10%;
    font-size: large;
}
#container1{
    justify-content: space-between;
    gap: 19%;
    font-size: large;
}
#button12{
font-size: large;
color: rgb(47, 47, 151);

}
#container3{
display: flex;
gap: 10%;
padding-left: 10%;
font-size: large;

}
#footer{
font-size: large;
}
#name{
font-style: inherit;
font-size: large;
}
#maincontainer{
    background-color: rgb(180, 99, 40);

}
body{
    background-color: white;
}
#button12{
    color: blue;
}
#container{
    background-color: rgb(25, 25, 134);
}
@media only  screen and (max-width:650px){

}
    


#page1{

    font-size: small;
}
.page2{
    font-size: smaller;
}
#container1{
    font-size: smaller;
}
#button12{
font-size: smaller;
color: rgb(47, 47, 151);

}
#container3{
font-size: smaller;

}
#footer{
font-size: smaller;
}
#name{
font-size: smaller;
}
#maincontainer{
    background-color: rgb(180, 99, 40);

}
body{
    background-color: white;
}
#button12{
    color: blue;
}
#container{
    background-color: rgb(25, 25, 134);
}